
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo application</title>
    </head>
    {{ form.media.css}}
<body>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Ideia Summernote <small>0.1</small></h1>
        <div class="panel panel-default">
          <div class="panel-heading">Editor Example</div>
          <div class="panel-body">
            {{ form }}
          </div>
        </div>
    </div>
</div>
{{ form.media.js}}
</body>
</html>
