
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo application</title>
    </head>
    {{ form.media.css}}
<body>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>Ideia Summernote <small>0.1</small></h1>
        <div class="panel panel-default">
          <div class="panel-heading">Editor Example</div>

          <div class="panel-body">
            <form action="/index/" method="POST">
                 {{ form.text }}
                <button class="btn btn-success pull-right">Submit</button>
                {% csrf_token %}
            </form>

              <table class="table">
                  <thead>
                    <tr>
                        <th>title</th>
                        <th>Text</th>
                        <th>Full Text</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for book in books %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.text|safe }}</td>
                            <td>{{ book.text }}</td>
                        </tr>
                    {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
    </div>
</div>
{{ form.media.js}}
</body>
</html>
