<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo application</title>
    </head>
<body>


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
          <div class="panel-heading">Editor Example</div>
          <div class="panel-body">
            <form action="javascript: alert('Submit!');">
                {{ form.text }}
            </form>
          </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        var $text = $("#id_text");
        console.log($text.data("config"));
        $text.summernote($text.data("config"));

    });
</script>
</body>
</html>

{% block css_summernote_assets %}{% endblock css_summernote_assets %}
